<section>
    <form data-dds="form" class="dds__form dds__container">
    
    <div class="dds__input-text__container">
        <label id="text-input-label-428675678" for="text-input-control-428675678">ID do cliente</label>
        <div class="dds__input-text__wrapper dds__input-text__wrapper--button">
        <input
            type="input"
            class="dds__input-text"
            name="text-input-control-428675678"
            placeholder="digite o id do cliente"
            id="IDinput"
            required=""
            aria-labelledby="text-input-label-428675678 text-input-helper-428675678"
        />
        <button class="dds__button" type="button" (click)="excluirCliente()">Excluir</button>
        <div id="text-input-error-428675678" class="dds__invalid-feedback">Error Message</div>
        </div>
    </div>
    </form>

    <table id="" class="dds__table">
    <thead>
        <tr class="dds__thead">
        <th class="dds__th">ID</th>
        <th class="dds__th">Numero da Vaga</th>
        <th class="dds__th">Placa do Carro</th>
        <th class="dds__th">Marca do Carro</th>
        <th class="dds__th">Modelo do Carro</th>
        <th class="dds__th">Cor do Carro</th>
        <th class="dds__th">Data de Registro</th>
        <th class="dds__th">Nome do Responsável</th>
        <th class="dds__th">Apartamento</th>
        <th class="dds__th">Bloco</th>
        
        </tr>
    </thead>
    </table>
</section>
